.container-nuevo-instrumento{
    width:  100%;
    height: 100vh; 
    position: absolute;
    background-color:var(--color-background);
}

.cabeza-usuario{
    min-width: 15%;
    height: 6%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem 0;
   float: right;
}


.cabeza-usuario .top{
    display: flex;
    justify-content: center;
    width:100%;
    height: 100%;
   
}

.cabeza-usuario .top button{
    display: none;
}

.cabeza-usuario .theme-toggler{
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
   
}


.cabeza-usuario .theme-toggler span{
    font-size: 1.2rem;
    width: 500%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.cabeza-usuario .theme-toggler .active{
    background: var(--color-primary);
    color: white;
   
    border-radius: var(--border-radius-1);
}

 .cabeza-usuario .top .profilee .info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
   gap: 0;
    text-align: right;
    
}


.cabeza-usuario .top .profilee .info p{
 margin: .5rem;
}



















.contenedor-opciones-instrumento{
    padding-right: 2%;
    width: 80%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
   align-items: center;
   font-family: "Poppins",sans-serif;

  
}

  
.contenedor-back-instrumento{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1%;
   
}

.contenedor-back-instrumento> h6{
    font-weight: 400;
}
.contenedor-back-instrumento> h3{
    color: var(--color-dark-variant);
}

.contenedor-back-instrumento button{
    width: 5em;
    height: 50%;
    color: white;
    border-radius:5%;
    border: none;
    cursor: pointer;
    font-weight: 500;
    margin-left: 1rem;
    background-color: transparent;
}






















.contenedor-formulario-nuevo-instrumento{
    width: 100%;
    height: 80%;

}

.contenedor-formulario-nuevo-instrumento form{
     display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-formulario-nuevo-instrumento .container-form-info{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem;
   
}

.contenedor-formulario-nuevo-instrumento .container-form-info h3{
    color:  rgb(7, 107, 161);
}

.form-group-instrumento{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 
    height: 3rem;
    width: 30rem;
    padding: 1rem;
    margin: 1%;
   
   
}

.contenedor-formulario-nuevo-instrumento label{
    font-weight: 400;
    font-size: 1.1rem;
    font-family: "Poppins",sans-serif;
    color: var(--color-dark-variant);
    margin-right: 1rem;
    
}

.contenedor-formulario-nuevo-instrumento input{
    width: 15rem;
    padding: .8em;
    border: none;
    border-bottom: 2px solid rgb(46, 52, 139);
    outline: none;
    border-radius: 5px;
    background: none;
    color: var(--color-dark-variant);
    
}

.contenedor-formulario-nuevo-instrumento input::placeholder{
    color: var(--color-dark-variant);
}

.contenedor-formulario-nuevo-instrumentoinput[type="text"],
.contenedor-formulario-nuevo-instrumento input[type="number"]
{
    margin-bottom: 0rem;
    width: 18rem;
}


.form-group-instrumento select{
    width: 16rem;
    padding: .6rem;
    font-family: "Poppins",sans-serif;
    outline: none;
    border-radius: 5%;
    border: none;
    border-bottom: 2px solid rgb(46, 52, 139);
    background-color: none;
}

.contenedor-formulario-nuevo-instrumento form input[type="submit"]{
    
    width: 10rem;
    height: 3rem;
    border-radius: 5px;
    background-color: rgb(7, 107, 161);
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: white;
}

.error-form{
    margin: 0;
background-color: aquamarine
};