.container-nuevo-alumno2{
    width: 100vw;
    min-height: 100vh;
    
    position: absolute;
    background-color:var(--color-background);
    
}


.cabeza-usuario2{
    min-width: 18%;
    
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem 0;
   float: right;

}


.cabeza-usuario2 .top{
    display: flex;
    justify-content: center;
    width:100%;
    height: 100%;
   
}

.cabeza-usuario2 .top button{
    display: none;
}

.cabeza-usuario2 .theme-toggler{
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
   
}


.cabeza-usuario2 .theme-toggler span{
    font-size: 1.2rem;
    width: 500%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.cabeza-usuario2 .theme-toggler .active{
    background: var(--color-primary);
    color: white;
   
    border-radius: var(--border-radius-1);
}

 .cabeza-usuario2 .top .profilee .info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
   gap: 0;
    text-align: right;
    
}


.cabeza-usuario2 .top .profilee .info p{
 margin: .5rem;
}







































.contenedor-opciones-alumnos{
    padding-right: 2%;
    width: 70%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
   align-items: center;
   font-family: "Poppins",sans-serif;

  margin-left: 2rem;
  margin-top: 0;

}

   .contenedor-back-alumnos{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1%;
   
}

.contenedor-back-alumnos > h6{
    font-weight: 400;
}
.contenedor-opciones-alumnos > h3{
    color: var(--color-dark-variant);
}

.contenedor-opciones-alumnos button{
    width: 5em;
    height: 50%;
    color: white;
    border-radius:5%;
    border: none;
    cursor: pointer;
    font-weight: 500;
    margin-left: 1rem;
    background-color: transparent;
}







































/*Formularuiiidasd*/


.contenedor-formulario-nuevo-alumno{
    width: 100%;
    height: 80%;
    padding: 0;
   
}

.contenedor-formulario-nuevo-alumno form{
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  
}

.contenedor-formulario-nuevo-alumno .container-form-info{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem;
  
}

.contenedor-formulario-nuevo-alumno .container-form-info h3{
    color:  rgb(7, 107, 161);
    
}



.envoltorio2{
    width:90%;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color:blue;
    padding-bottom: 3rem;
    clip-path: polygon(0 5%, 92% 6%, 100% 96%, 11% 95%);
    margin-bottom: 3rem;
    position: relative;
}


.envoltorio2::before{
    content: "";
    width: 90%;
    height: 23rem;
    right: 0;
    position: absolute;
    background-color: gold;
    clip-path: polygon(0 5%, 92% 6%, 100% 96%, 11% 95%);
    z-index: -555;
  }
  
  .envoltorio2::after{
      content: "";
      width: 90%;
      height: 23rem;
      position: absolute;
      background-color: var(--color-white);
      clip-path: polygon(0 5%, 92% 6%, 100% 96%, 11% 95%);
      z-index: -555;
     margin-left: 16rem;
     background-color: var(--color-white);
    }
  



.envoltorio-datos2{
    width:85%;
    height: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 1rem;
}

.form-group-matricula-img{
    width: 10rem;
    height: 10rem;

}

.form-group-matricula-img > img{
    width: 100%;
    height: 100%;
}

.form-group-matricula-img > input[type="file"]{
   display: none;
}

.form-group-matricula-img > .foto{
   position: absolute;
   bottom: 0;
   left: 0;
   font-size: 1rem;
   text-wrap: nowrap;

   margin-bottom: -2rem;
 }

.form-group-alumno2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 20rem;
    padding: 1rem;
    margin:1rem .5rem;
   
}


.form-group-alumno22{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 3rem;
    width: 30rem;
    padding: 1rem;
    margin:1rem .5rem;
   
}

.form-group-alumno .text-error{
    position: absolute;
    
   color: red;
    padding-bottom: 1rem;
    margin-top: 6rem;
    margin-left: 3rem;
    
}

.contenedor-formulario-nuevo-alumno label{
    font-weight: 400;
    font-size: 1.1rem;
    font-family: "Poppins",sans-serif;
    color: var(--color-dark-variant);
    margin-right: 1rem;
}

.contenedor-formulario-nuevo-alumno input{
    width: 16rem;
    padding: .6rem;
    height: 2.5rem;
    border: none;
    border-bottom: 2px solid rgb(46, 52, 139);
    outline: none;
    border-radius: 5px;
   
    color: var(--color-dark-variant);
}

.contenedor-formulario-nuevo-alumno input::placeholder{
    color: var(--color-dark-variant);
    font-family: "Poppins",sans-serif;
}
.contenedor-formulario-nuevo-alumnoinput[type="text"],
.contenedor-formulario-nuevo-alumno input[type="number"]
{
    width: 18rem;
}

.contenedor-formulario-nuevo-alumno select{
    width: 16rem;
    padding: .6rem;
    font-family: "Poppins",sans-serif;
    outline: none;
    border-radius: 5%;
    border: none;
    border-bottom: 2px solid rgb(46, 52, 139);
    background-color: none;
}





.contenedor-formulario-nuevo-alumno form > button{
    width: 10rem;
    height: 3rem;
    border-radius: 5px;
    background-color: rgb(7, 107, 161);
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: white;
    margin-bottom: 5rem;
}





















.envoltorio-Matricula{
    width: 90%;
    height: 23rem;
    background-color: rgb(187, 0, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
    clip-path: polygon(0 5%, 92% 6%, 100% 96%, 11% 95%);
    z-index: 100000;
position: relative;
margin-bottom: 3rem;
}

.envoltorio-Matricula::before{
  content: "";
  width: 90%;
  height: 23rem;
  right: 0;
  position: absolute;
  background-color: gold;
  clip-path: polygon(0 5%, 92% 6%, 100% 96%, 11% 95%);
  z-index: -555;
}

.envoltorio-Matricula::after{
    content: "";
    width: 90%;
    height: 23rem;
    position: absolute;
    background-color: var(--color-white);
    clip-path: polygon(0 5%, 92% 6%, 100% 96%, 11% 95%);
    z-index: -555;
   margin-left: 22rem;
  }

.envoltorio-datos-Matricula{
    width: 60%;
    height: 100%;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}

.envoltorio-datos-Matricula-alum{
    width: 65%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.form-group-Matricula{

    display: flex;
    align-items: center;
    justify-content: space-between;
}


.form-group-Matricula-sexo{
    width: 20rem;
    display: flex;
     justify-content: center;
     align-items: center;
  
 
}

.container-form-info-Matricula h3{
    padding: 0;
    margin: 0;
    color: rgb(7, 107, 161);
}



