
.container-detalles-instru{
    width: 100%;
    height: 100vh;
}

.contenedor-opciones{
    padding-right: 2%;
    width: 98%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
   align-items: center;
   font-family: "Poppins",sans-serif;
   background-color: var(--color-white);
   
}
.contenedor-back{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1%;
   
}

.contenedor-detalles-ins{
    width: 95%;
    height: 75%;
    
    padding: 2% 2%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.contenedor-detalles-instru{
    width: 100%;
    min-height: 66%;
    display: flex;
    background-color: var(--color-white);
    margin-bottom: 2%;
    text-align: center;
}

.contenedor-detalles-instru h2{
   margin: 0;
   line-height: 4rem;
}

.contenedor-detalles-imgg{
    width: 20%;
    height: 100%;
   
}

.contenedor-detalles-datoss{
    width: 76%;
    height: 92%;
    display: flex;
    flex-direction: column;
    padding: 1% 2%;
}

.caja-con-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid  rgb(214, 214, 214);
}

.caja-con-info > h4{
 font-size: 1rem;
 margin: 0;
 color: var(--color-dark-variant);
}

.caja-con-info > p{
    font-size: 1rem;
    font-family: "Poppins",sans-serif;
}



.contenedor-detalles-instru-re{
    width: 96%;
    min-height: 56%;
    padding: 2% 2%;
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2%;
}

.contenedor-detalles-instru-re > .caja-con-info{
    width: 100%;
}


.contenedor-detalles-instru-ubic{
    width: 96%;
    min-height: 50%;
    padding: 2% 2%;
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2%;
}

.contenedor-detalles-instru-ubic > .caja-con-info{
    width: 100%;
}

.contenedor-detalles-instru-instr{
    width: 96%;
    min-height: 50%;
    padding: 2% 2%;
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2%;
}

.contenedor-detalles-instru-instr > .caja-con-info{
    width: 100%;
}


.contenedor-detalles-instru-otros{
    width: 96%;
    min-height: 50%;
    padding: 2% 2%;
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2%;
}

.contenedor-detalles-instru-otros > .caja-con-info{
    width: 100%;
}

.contenedor-detalles-datoss h2{
    color: var(--color-dark-variant);
}